* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#areYouSure {
    display: none;
    width: 60%;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 20%;
}

.enterDir {
    display: inline;
    position: absolute;
    right: 10%;
    cursor: pointer;
}

#backDir {
    position: absolute;
    top: 2.5em;
    cursor: pointer;
}

.list-row {
    /* border: 1px solid red; */
    width: 80%;
    margin-bottom: .3em;
}

#file_p {
    display: inline;
}

#dir_p {
    color: blue;
    display: inline;
    font-weight: bold;
}

#noActiveDir {
    color: red;
    font-size: large;
}

#createDirForm {
    display: inline;
}

#createDirForm input {
    display: none;
    position: absolute;
    right: 28%;
    top: 2%;
    width: 25%;
}

.header-A {
    position: fixed;
    z-index: 9999;
    width: 100%;
    /* background: rgba(80, 150, 180, 0.8); */
    background-color: rgb(0, 169, 165);
    height: 100px;
}

.header-A #tittle {
    position: relative;
    left: 2%;
    top: 25%;
    font-weight: 600;
    color: rgba(15, 10, 10, 1);
    font-size: 32px;
    display: inline;
}

.header-A #tittle b {
    color: #da1f26;
    display: inline;
}

.header-A .account {
    text-align: center;
    position: absolute;
    right: 4%;
    top: 15%;
    color: white;
}

.header-A .account span {
    display: block;
}

.header-A .account a {
    color: red;
    text-decoration: none;
}

.header-A #version {
    position: absolute;
    right: 3%;
    bottom: 5%;
    color: white;
}

.login-main {
    width: 50%;
    border: 1px solid rgba(180, 70, 60, 0.9);
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
}

.login-main form {
    margin-top: 10%;
    margin-bottom: 10%;
}

.login-main form input {
    display: block;
    width: 70%;
    margin-left: 15%;
    padding: 7px;
    border: 2px solid rgba(80, 150, 180, 0.9);
    border-radius: 7px;
    margin-bottom: 2%;
}

.login-main form input:hover {
    border: 2px solid green;
}

.login-main form button {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 8px;
    border: 1px solid rgba(50, 80, 120, 0.8);
    /*background-color: rgba(180, 70, 60, 0.9);*/
    background-color: teal;
    border-radius: 7px;
    cursor: pointer;
}

.login-main form button:hover {
    background-color: rgb(24, 116, 116);
}

.login-main form #registerbtn {
    background-color: rgba(150, 210, 70, 0.7);
    display: none;
}

.login-main form #registerbtn:hover {
    background-color: rgba(118, 181, 35, 0.7);
}

.body-main {
    position: absolute;
    top: 20%;
    width: 90%;
    height: auto;
    padding: 0px;
    margin-left: 5%;
}

.body-upload-status {
    width: 100%;
    padding: 5px;
    color: white;
}

.body-upload {
    margin-top: 2%;
    border: 1px solid gray;
    border-radius: 5px;
}

.body-upload form {
    padding: 10px;
    width: 100%;
}

.body-upload input {
    display: inline;
    width: 15%;
}

.body-file-label {
    border: 2px solid gray;
    width: 10%;
    padding: 4px;
    display: inline;
    background-color: rgba(80, 150, 180, 0.9) !important;
    cursor: pointer;
    border-radius: 5%;
}

#body-form-button {
    cursor: pointer;
    background-color: rgba(50, 80, 120, 0.8);
    border: 1px solid gray;
    border-radius: 7px;
    padding: 5px;
    width: 10%;
    color: white;
}

#body-form-button:hover {
    background-color: rgba(50, 110, 150, 0.8);
}

.body-list {
    border: 1px solid gray;
    position: relative;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5%;
    min-height: 350px;
    /* max-height: 600px; */
    height: 95%;
    margin-bottom: 5%;
}

.body-list-files {
    position: relative;
    width: 44%;
    /* overflow-y: scroll; */
    min-height: 340px;
    /* max-height: 800px; */
    border-top-left-radius: 8px;
    padding: 12px;
    margin-bottom: 2em;
}

#body-list-row {
    width: 20%;
    /* border: 1px solid black; */
}

._files {
    margin-top: 5%;
}

#_dir_str {
    font-weight: bold;
    position: absolute;
    top: 2.6em;
    left: 3em;
}

.body-list-files #body-list-text {
    display: inline;
}

.body-list-files #selection_btn {
    position: absolute;
    right: 2%;
    top: 2%;
    /* float: right; */
}

.body-list-files #addDirBtn {
    position: absolute;
    right: 15%;
    top: 2%;
}

.body-list-files .checkbox {
    display: none;
}

.body-list-files .actions {
    position: absolute;
    width: 50%;
    right: 2%;
    bottom: -2em;
}

.body-list-files .actions #btn-delete {
    width: 40%;
    background-color: red;
    color: white;
    padding: 7px;
    border-radius: 5px;
    float: right;
}

.body-list-files .actions #btn-download {
    padding: 7px;
    width: 45%;
    background-color: green;
    float: right;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.body-list-content {
    background-color: beige;
    border-left: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 55%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 600px) {
    .header-A #header-username {
        right: 7%;
    }
    iframe {
        height: 100%;
    }
    .body-main {
        width: 100%;
        margin: 0;
        padding: 2px;
        margin-bottom: 10%;
    }
    #body-form-button {
        width: 30%;
    }
    .body-list {
        border: none;
    }
    .body-list-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 60%;
    }
    .body-list-files {
        border-top: 1px solid gray;
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .body-list-files #addDirBtn {
        width: 10%;
        padding: 3px;
        right: 15%;
    }
    ._files {
        margin-bottom: 5em;
    }
    .actions {
        border: 1px solid black;
        margin-top: 20%;
    }
    .login-main {
        margin: 0;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        min-height: 500px;
        margin-top: 20%;
    }
    .login-main form {
        margin-top: 25%;
    }
    .login-main form input {
        margin-top: 7%;
    }
    .login-main form button {
        margin-top: 20%;
    }
    .login-main form #registerbtn {
        margin-top: 7%;
        display: block;
    }
}